/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul.menu li {
    position: relative;
}

ul.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

/* Estilos para el submenú */
ul.submenu-lista {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #444;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 160px; /* Definimos un ancho fijo */
}

ul.submenu-lista li a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

ul.submenu-lista li a:hover {
    background-color: #555;
}

/* Mostrar el submenú cuando se pasa el ratón por encima del ítem */
.submenu:hover .submenu-lista {
    display: block;
}

ul.menu li a:hover {
    background-color: #555;
}

/* Estilos para el Header */
.header {
    background-color: #687968;
    color: white;
    text-align: center;
    padding: 60px 20px; /* Espaciado en la parte superior para separar el header del menú */
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 10px 0 0;
}

/* Diseño adaptable (responsive) */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }
    .menu li {
        text-align: center;
    }
}
.newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.newsletter-form input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

